.choiceBtn {
    line-height: 30px;
    width: 150px;

}
#gameDiv {
    font-family: 'Consolas' cursive;
    border: 3px solid;
    border-radius: 20px;
    padding: 10px;
    background-color: lightgray;
    text-align: center;
}

.choiceBtn {
    font: 25px "Mv boli";
    background: black;
    color: yellow;
    cursor: pointer;

}

.choiceBtn :hover {
    background: #1c6ec0;
}
#playerText {
    color: blue;
}

#computerText {
    color: red;
}

#computerText :hover {
    color: blue;
}